@charset "UTF-8";

:root{
	--main-color: #75162D;
	--secondary-color: #4A0E1D;
	--accent-color: #F98DA5;
	--second-accent: #F2E5C6;
	--third-accent: #AF2848;
	--light-color: #FAF6EE;
	--white: #FFF;
	--black: #000;
	--font-primary: "Inter", sans-serif;
}

div{
	color: var(--main-color);
	font-family: var(--font-primary);
}